

.header-component {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid powderblue;
}

.nav-bar-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-bar-items > ul > li {
  padding: 10px;
}

.logo {
  width: 100px;
}

.food-card {
  width: 195px;
  border: 1px solid rgb(21, 21, 21);
  padding: 10px;
  margin: 10px;
}

.food-card > img {
  width: 100%;
}

.card-list{
    display: flex;
    flex-wrap: wrap;
}
.shimmer {
  width: 200px;
  height: 200px;
  border: 1px solid rgb(21, 21, 21);
  display: inline-block;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}